.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 1rem;
  gap: 1.5rem;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-accent1);
  border-radius: 6px;
  transition: box-shadow 0.3s ease;
  padding: 1rem;
  gap: 1rem;
  position: relative;
}

.img-container {
  height: 100px;
  text-decoration: none;
  overflow: hidden;
}

.card img {
  width: 100%;
  object-fit: cover;
  border-radius: 6px 6px 0px 0px;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-content h3 {
  color: var(--color-accent2);
}

.card-content p {
  margin: 0;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: start;
}

.icons i {
  font-size: 2rem;
  transition: color 0.3s ease;
  line-height: 1.15;
}

.buttons {
  display: flex;
  gap: 0.5rem;
  justify-content: end;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  z-index: 2;
}

.i-btn {
  padding: 0.25rem 0.5rem;
}

.i-btn i {
  font-size: 1.5rem;
  line-height: normal;
}

.stretched-link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.card:hover .overlay::after {
  background-color: var(--color-no-overlay);
}

.card:hover {
  box-shadow: 0 0 0.5rem var(--color-accent1);
}

@media (max-width: 555px) {
  .card {
    max-width: 100%;
  }
}
