{% extends "base.html.j2" %}
{% block head %}
  <title>Blog</title>
  <!-- djlint:off T027 -->
  <meta name="description" content="{{ _('CrysoK\'s blog')}}" />
  <!-- djlint:on -->
{% endblock head %}
{%
block main %}
<h1>Blog</h1>
<h2>{{ _('Soon') }}™</h2>
{% endblock main %}
