{% extends "base.html.j2" %}
{% block head %}
  <title>{{ _('Blog') }}</title>
  <!-- djlint:off T027 -->
  <meta name="description" content="{{ _('CrysoK\'s blog')}}" />
  <!-- djlint:on -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
{% endblock head %}
{% block main %}
    <h1>{{ _('Blog') }}</h1>
    <div class="blog-list">
      <h2>{{ _('Latest posts') }}</h2>
      {% if posts %}
        <ul>
          {% for post in posts %}
            <li>
              <h3><a href="{{ url_for('post_detail', slug=post.slug) }}">{{ post.title[g.lang] }}</a></h3>
              <p class="post-meta">
                {{ _('Published on:') }} {{ post.published_at.strftime('%d %B, %Y') }}
                {% if post.tags %}
                | {{ _('Tags:') }}
                  {% for tag in post.tags %}
                    {{ tag }}{% if not loop.last %}, {% endif %}
                  {% endfor %}
                {% endif %}
                {% if post.series %}
                  | {{ _('Series:') }} {{ post.series }}
                {% endif %}
              </p>
              {% if post.description[g.lang] %}
                <p>{{ post.description[g.lang] }}</p>
              {% else %}
                <p>{{ post.body_html[g.lang] | striptags | truncate(150) }}</p>
              {% endif %}
              <a href="{{ url_for('post_detail', slug=post.slug) }}" class="read-more">{{ _('Read more...') }}</a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>{{ _('No posts yet. Check back soon!') }}</p>
      {% endif %}
    </div>
{% endblock main %}
