{% extends "base.html.j2" %}
{% block head %}
  <title>CV</title>
  <!-- djlint:off T027 -->
  <meta name="description"
        content="{{ _('CrysoK\'s Curriculum Vitae / Resume') }}"/>
  <!-- djlint:on -->
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/cv.css') }}"/>
{% endblock head %}
{% block main %}
  <h1>Ezequiel L. Dzioba</h1>
  <p>Systems Analysis Bachelor's student.</p>
  <p>Learning Full-Stack Web Development.</p>
  <p>
    I'm a Systems Analysis Bachelor's student. I'm also learning about full stack
    web development.
  </p>
  <p>
    What I like most about this world is designing systems that improve what
    already exists in some aspect and make people's lives easier through software.
  </p>
  <p>I am currently focused on college, but I listen to part-time proposals.</p>
  <p>
    In the future I would like to learn about artificial intelligence and delve
    into some of its fields.
  </p>
{% endblock main %}
