{% extends "base.html.j2" %}
{% block head %}
  {% if page %}
  <title>{{ page.title[g.lang] }}</title>
  <meta name="description" content="{{ page.description[g.lang] }}"/>
  {% else %}
  <title>{{ _("Links") }}</title>
  <meta name="description"
        content="{{ _('Ways to contact me, social networks and other things') }}"/>
  {% endif %}
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/links.css') }}"/>
{% endblock head %}
{% block main %}
  {% if page %}
  <h1>{{ page.title[g.lang] }}</h1>
  <p>{{ page.description[g.lang] }}</p>
  <div class="links-content max-width-550px">
    {{ page.body_html[g.lang] | safe }}
    {% for category in page.meta.get('categories', []) %}
    <h2>{{ category['title_' ~ g.lang] }}</h2>
    <div class="links">
      {% for item in category['items'] %}
      <a class="button-1 i-btn" href="{{ item.url }}" target="_blank">
        <i class="{{ item.icon }}"></i>
        <p>{{ item.name }}</p>
      </a>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div style="text-align: center; padding: 2rem 0;">
    <h2>{{ _('Content Unavailable') }}</h2>
    <p>{{ _('The content for this page could not be loaded at this time. Please try again later.') }}</p>
  </div>
  {% endif %}
{% endblock main %}
